
.sidebar {
    position: absolute;
    top: 0;
    left: 10px;

    display: flex;
    flex-direction: column;
    gap: 6px;
}

.header {
    display: flex;
    align-items: center;
    gap: 12px;
}

.header h3 {
    font-family: Arial, sans-serif;
}